.container {
    padding: 0px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.container>header {
    padding: 20px 0px;
}

.container>header>a {
    color: rgb(220, 9, 20);
    font-size: 20px;
    font-weight: bold;
    /* 밑줄 없애기 */
    text-decoration: none;
    cursor: pointer;
}